Makefile
Makefile.in
configure
build.sh
build.log
build/
autom4te.cache/
m4/
.deps/
.dirstamp
*.o
*~
TAGS
aclocal.m4
config.h
config.h.in
config.log
config.status
libtool
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/*.pot
po/stamp-it
stamp-h1
*.desktop
*.directory
*.gschema.valid
*.gresource
fvwm/ycpu
fvwm/config/main.fvwm
fvwm/scripts/clipman.sh
fvwm/scripts/mail.sh
fvwm/scripts/media.sh
fvwm/scripts/notes.sh
fvwm/scripts/shot.sh
fvwm/scripts/weather.sh
settings/*.sh
settings/panel/*.sh
settings/ysettings
utils/*.sh
utils/ydentry
utils/yfind
utils/yimage
utils/ylogout
utils/ymedia
utils/ymixer
utils/ynotes
utils/ynotify
utils/ypass
utils/yps
utils/yrun
utils/ysession
utils/ysysinfo
utils/yterm
utils/ywget
utils/ywifi
data/theme/icons/index.theme
data/fdo/*.service
*.tar.*
